fastapi
uvicorn
flask
flask-cors
yfinance
pandas>=2.2.0
numpy>=1.26.0
scikit-learn
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
transformers
tensorflow-cpu
python-dateutil
joblib
pydantic
python-dotenv
google-generativeai
aiohttp
protobuf
gunicorn
